<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign-in</title>
</head>
<body>
  <h1>
    Admin Login
  </h1>
  <form action="/admin/signin" method="post">
    <label for="email">
      Email
    </label>
    <input type="text" id="email" name="email">

    <label for="password">
      Password
    </label>
    <input type="password" id="password" name="password">
    <input type="submit" value="Login">
  </form>

  <% if(typeof error !== "undefined") {%>
  <div >
    Error: <%= error %>
  </div>
  <% }%>
</body>
</html>