<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <link rel="stylesheet" href="/public/css/main.css" />
  <script defer type="module" src="/public/js/index.js"></script>
  <title>SweatStream</title>
</head>
<body>
  <header>
    <h1>SweatStream.com</h1>
  </header>

  <main>
    <section class="video-section">
      <video id="videoplayer" autoplay muted></video>

      <div class="controls">
        <button id="sound" type="button">Unmute</button>
      </div>
    </section>

    <section class="livechat">
      <h5>Viewers in chat: <span id="viewerCount">0</span></h5>

      <div class="messages" id="messages">
        <ul id="message-list"></ul>
      </div>

      <div class="chat-input-container">
        <input type="text" id="chat-input" placeholder="Type away!"/>
        <button type="submit">Chat</button>
      </div>
    </section>
  </main>
</body>
</html>